name: linting

on:
  push:
  pull_request:

jobs:
  linting-requirements-install:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: install linting requirements
        run: |
          pip install --upgrade pip
          pip install flake8 pylint

      - name: Install project requirements
        run: pip install .[dev]

      - name: Lint with flake8
        run: flake8 certbot_dns_porkbun --count --ignore E501 --show-source --statistics

      - name: Lint with pylint
        run: pylint certbot_dns_porkbun --disable C0301
